.App {
  text-align: center;
}

.translucent {
  opacity: 0.8;
}

.App-logo {
  /* width: 100px;
  height: 100px; */
  position: absolute;
  top: 0%; /* Center vertically within the parent container */
  left: 5%; /* Center horizontally within the parent container */
  transform: translate(-50%, -50%); /* Center the logo within itself */
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: black !important;
}

.App-header {
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
